html, body, input, textarea, select, button {
  	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.3em;
  	color: #fff5e7;
  	background-color: #181a1b;
}

* {
  	scrollbar-color: #454a4d #202324;
}

.auteur {
	font-size: 0.5em;
}

.classe {
	font-size: 0.5em;
}

.cours {
	margin: 0px 0px 50px 30px;
	padding: 5px 20px;
	border: solid rgb(121, 98, 155) .1em;
}

#ElEmploisDuTemps {
	display: flex;
	justify-content: center;
}

.jour {
	padding: 0px 20px;
	margin: 10px;
	border: solid 3px rgb(51, 45, 59);
}

@media screen and (max-width: 1800px) {
	#ElEmploisDuTemps {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 2200px) {
	.cours {
		margin: 0px 0px 100px 100px;
	}
	.jour {
		margin: 30px;
	}
}

@media screen and (min-width: 2800px) {
	#ElEmploisDuTemps {
		font-size: 1.5em;
	}
	.auteur {
		font-size: 1em;
	}
	
	.classe {
		font-size: 1em;
	}
}